<div class="home-page-container container">
  <div class="row columns-reverse">
    <section class="left-side col-lg-6">
      <p class="small-subtitle text-uppercase">😎 Simple way to communicate</p>
      <h1 class="main-title lh-base">Actions for Accessibility in Design</h1>
      <p class="body-text">The fastest way to build and deploy websites with reusable components.</p>
      <div class="get-buttons">
        <button class="btn btn-primary">Get Started</button>
        <button class="btn btn-link">Get live demo</button>
      </div>
      <div class="benefits-list">
        <img src="assets/images/done-ring-round-fill.svg" class="pe-2">
        <span class="me-4">No credit card required</span>
        <img src="assets/images/done-ring-round-fill.svg" class="pe-2">
        <span>No software to install</span>
      </div>
    </section>
    <section class="right-side col-lg-6">
      <img class="img-fluid" src="assets/images/hero-image-simple-homepage.png" alt="Programmer">
    </section>
  </div>
</div>
