.home-page-container {
  color: #223344;
  margin-top:  100px;

  .main-title {
    font-size: 3.75rem;
    font-weight: bold;
  }

  .small-subtitle {
    font-weight: 600;
  }

  .body-text {
    color: #223344;
    opacity: .8;
    font-size: 1.125rem;
    padding: 20px 120px 12px 0;
  }

  .benefits-list {
    display: inline-block;
    color: #223344;
    font-size: 14px;
    opacity: .8;
    padding-top: 50px;
  }

  .get-buttons {
    .btn {
      font-family: "Poppins", serif;
      font-size: 1rem;
      font-weight: 600;
    }

    .btn-primary {
      background-color: #2A4DD0;
      border-radius: 14px;
      border: 1px solid #2A4DD0;
      padding: 12px 38px;
      text-transform: uppercase;
    }

    .btn-link{
      color: #2A4DD0;
    }
  }
}
